*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.navbar {
  font-family: 'Helvetica';
  font-weight: 200;
  letter-spacing: 0.7px;
  background: #EEEEEE;
  margin: 0;
  padding: 0;
}

.links,
.login {
  display: inline-block;
  padding: 1%;
  color: #333333;
  transition: all 0.3s;
}

.links:hover,
.login:hover {
  background: #F44336;
  color: #FFFFFF;
}
img{
  max-height: 100vh;
  max-width: 100%;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F44336;
  color: white;
  text-align: center;
}
.dogContainer{
  padding-bottom: 10%;
}
#add{
  display: inline-block;
  margin: 1%;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 1em;
  background:  #F44336;
  padding: 5px 10px 5px 10px;
  border: solid #ffffff 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-decoration: none;
  margin-top: 1%;

}
.like{
    display: inline-block;
    margin: 0;
}
.found {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background:  #F44336;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-decoration: none;
  margin-top: 1%;
}

.found:hover {
  background: #EEEEEE;
  text-decoration: none;
  color: black;
}
